* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.cabezado {
  text-align: center;
}

/*-------------Barra---------------*/

header {
  background-color: #1CA9FF;
  padding: 30px;
  display: flex;
  position: relative;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-right: 50px;
}

li:last-child {
  margin-right: 0; }

a {
  display: inline-block;
  background-color: #fff;
  color: #1CA9FF;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  transition: background-color 0.7s;
  font-weight: bold;
}

a:hover{
  background: #5DBAFF;
  color: #fff;
}

/*------------inicio----------------------*/

section {
  padding: 20px;
  border-bottom: 40px solid #fff;
  background: #fff;
}

.sec {
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px; /* Espacio entre los elementos */
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.text_R {
  grid-column: 1 / span 1; /* Posición del elemento en la grid */
  text-align: center;
}

.image_R {
  grid-column: 2 / span 1; /* Posición del elemento en la grid */
}

.text_L {
  grid-column: 2 / span 1; /* Posición del elemento en la grid */
  text-align: center;
}

.image_L {
  grid-column: 1 / span 1; /* Posición del elemento en la grid */
}

.ima{
  max-width: 100%;
  height: auto;
  float: right;
}


/*--------------exposiciones-------------*/

.expo{
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  justify-content: space-between;
  border-bottom: none;
}

.lugar{
  display: grid;
  grid-column: 1 /span 1;
}

.fecha{
  display: grid;
  grid-column: 2 /span 1;
}

.fondo {
  padding-top: 90px;
  padding-left: 20%;
  padding-right: 20%;
  background-color: #FB5;
}

.b {
  height: 200px;
  width: 200px;
}

/*-------------Galeria---------------------*/

.galeria{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: auto;
  justify-content: center;
}

.cuadros{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #3CC9FF;
  margin: 40px;
  padding: 10px;
}

.letras{
  margin: 15px;
  color: rgb(50, 200, 95);
}

.boton {
  display: inline-block;
  background-color: #1CA9FF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.detalle {
  display: none;
}

.detalle.activo {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 8%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.ver-mas{
  background: #fff;
  display: flex;
  border: #1CA9FF;
}

.ver-mas-imagen{
  flex: 0 0 50%;
  background: #000;
}

.ver-mas-texto {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  margin-right: 4%;
  padding-left: 2%;
  border-left: #1CA9FF;
  box-sizing: border-box;
  position: relative;
}

.ver-mas-texto button {
  bottom: 0;
  left: 50%;
}


.detalle.activo img {
  width: 100%;
  max-height: 700px;
  height: 100%;
  min-height: auto;
  margin: auto;
  display: flex;
}

.detalle.activo h3 {
  color: #000;
  font-size: 36px;
  text-align: left;
  margin-top: 30px;
}

.detalle.activo p {
  color: #000;
  font-size: 24px;
  text-align: justify;
  margin-top: 30px;
}

.detalle.activo button {
  display: flex;
  margin: 30px auto;
  font-size: 24px;
  padding: 10px 30px;
  background-color: #1CA9FF;
  color: #fff;
  border: none;
  cursor: pointer;
}


/*--------------Fin------------------*/

.fin {
  color: #fff;
  background: #2CB9FF;
  height: 150px;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  font-weight: bold;
}

/*----------barra de moviles---------------*/

@media only screen and (max-width: 800px){

header{
    justify-content: space-around;
    padding-left: 5px;
    padding-right: 5px;
  }

li{
    margin-right: 10px;
    flex-wrap: wrap;
  }

.ver-mas{
  display: block;
}

.detalle.activo img{
    object-fit: contain;
    width: 70%;
    height: 70%;
    min-height: 100px;
    align-items: center;
  }

.detalle.activo h3{
    font-size: 23px;
  }
.detalle.activo p {
    font-size: 16px;
  }
.detalle.activo button{
    font-size: 12px;
    position: none;
  }
}
