* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/*-------------Barra---------------*/

header {
  background-color: #1CA9FF;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-right: 50px;
}

li:last-child {
  margin-right: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #aaa;
  background: #10A0FF;
}

/*------------inicio----------------------*/

section {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background:rgb(200, 200, 255);
}

section h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

section p {
  font-size: 18px;
  line-height: 1.5;
}

.sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Espacio entre los elementos */
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.text_R {
  grid-column: 1 / span 1; /* Posición del elemento en la grid */

}

.image_R {
  grid-column: 2 / span 1; /* Posición del elemento en la grid */
  max-width: 100%;
  height: auto;
}

.text_L {
  grid-column: 2 / span 1; /* Posición del elemento en la grid */
}

.image_L {
  grid-column: 1 / span 1; /* Posición del elemento en la grid */
  max-width: 100%;
  height: auto;
}

/*-------------Galeria---------------------*/

.galeria{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 40px;
}

.cuadros{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #3CC9FF;
  margin: 40px;
  padding: 30px;
}

.boton {
  display: inline-block;
  background-color: #1CA9FF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

/*----------barra de moviles---------------*/

@media only screen and (max-width: 700px){
  header{justify-content: space-around;}
}
